body {
    font-family: 'Noto Sans Devanagari', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0080;
    color: #fff;
    padding: 15px;
    text-align: center;
     font-size: 1.5em;
}

h1 {
    margin: 0;
    font-size: 2em;
}

section {
    padding: 20px;
}

.question-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

button {
    background-color:  #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00ff00;
}

input[type="radio"],
input[type="text"],
select {
    margin-right: 10px;
}

#scoreDisplay {
    font-size: 1.2em;
    color: green;
    margin-top: 20px;
}
